<div class="nav-bar-container">
    <div class="row collapse">
        <div class="small-12 column">
            <img src="/images/logo-iguanas.png">
        </div>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 column">
        <div class="location__hero" style="background-image: url('{{model.hero}}')">
            <div class="location__hero-overlay">
                <h1>{{model.title}}</h1>
            </div>
        </div>
    </div>
</div>
<div class="row collapse">
    <div class="small-12 column">
        {{g-maps class="location__map" markers=markers lat=model.addressLocation.lat lng=model.addressLocation.lon
                 zoom=16
                 draggable=false showZoomControl=true scrollwheel=false
                 showMapTypeControl=false disableDefaultUI=true clickableIcons=false
                 disableDoubleClickZoom=true}}
    </div>
</div>
<div class="row location__section location__section--information">
    <div class="small-12 medium-5 medium-push-7 large-4 large-push-8 column">
        <div class="location__address-information">
            {{link model.addressLocation.lat model.addressLocation.lon}}
            <p class="location__address-text">{{{model.addressText}}}</p>
        </div>
    </div>
    <div class="small-12 medium-7 medium-pull-5 large-8 large-pull-4 column">
        <h2>About {{model.title}}</h2>
        <p class="location__description">{{model.description}}</p>
        <h3>Opening hours</h3>
        <p class="location__opening-hours">{{{model.openingHours}}}</p>
    </div>
</div>
<div class="row location__section location__section--menu-title">
    <div class="large-10 medium-10 column">
        <div class="location__section--menu-title__text">Menus</div>
        {{#each model.menusWithPriceBands as |menuWithPriceBand|}}
              {{render "menus/menu" menuWithPriceBand}}
        {{/each}}
    </div>
    <div class="large-2 medium-2 column">
        <div class="deliveroo__link">
            <img class="deliveroo__link--img" src="/images/green-deliveroo.png">
            <a class="deliveroo__link--cta" target="newwindow" href={{model.deliverooUrl}}>Order now</a>
        </div>
    </div>
</div>
