<h1>{{model.title}}</h1>
<p class="location__description">{{model.description}}</p>
<p class="location__opening-hours">{{{model.openingHours}}}</p>
<p class="location__address-text">{{{model.addressText}}}</p>
<img class="location__hero-image" src="{{model.heroImageUrl}}">
  {{g-maps markers=markers lat=model.addressLocation.lat lng=model.addressLocation.lon zoom=17
           draggable=false showZoomControl=false scrollwheel=false
           showMapTypeControl=false disableDefaultUI=true clickableIcons=false
           disableDoubleClickZoom=true}}